body {
    margin: 0px; /*Removes the white border from around the entire webpage body*/
    font-family: serif, sans-serif;
}

.blue_section {
    background: #1F2937;
    color: #F9FAF8;
    padding-bottom: 80px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 60px;
    padding-left: 30px;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none; /*Removes the bullet points from the list items*/
}

li {
    float: left; /*Makes the list horizontal, instead of vertical*/
}

li a {
    font-size: 18px;
    padding: 14px; /*Adds space around the list items*/
    color: #E5E7EB;
    text-decoration: none; /*Removes the line under the links*/
}

li a:hover {
    color: orangered; /*Changes the color of the link text when you hover over it*/
}

.section_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section_1 h1 {
    font-size: 48px;
    font-weight: bold;
}

.section_1_left {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 500px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px; /*Rounds the edges of the button*/
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s; /*Determines how long the hover animation takes*/
}

button:hover { /*Determines what happens when you hover your mouse over the button*/
    background-color: white;
    color: black;
    cursor: pointer; /*Turns the mouse cursor into a hand when hovering over the button*/
}

button:active {
    transform: scale(0.94); /*Scaling button to 0.94 its original size*/
}

.section_2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 80px;
}

.section_2 h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.section_2_middle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.item_image {
    padding: 18px;
    width: 200px;
    text-align: center;
}

.section_2_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.image_text {
    padding: 18px;
    width: 200px;
    text-align: center;
}

.section_3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    width: 900px;
}

.author {
    font-weight: bold;
    font-size: 20px;
    align-self: flex-end;
    padding-right: 550px;
}

.section_4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 16px;
    background: #3882F6;
    color: white;
    width: 1200px;
    height: 120px;
    border-radius: 8px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.section_4_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
}

.top_text {
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #1F2937;
    color: #F9FAF8;
}